public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier
public net.minecraft.client.renderer.blockentity.BlockEntityRenderers register(Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/client/renderer/blockentity/BlockEntityRendererProvider;)V
public net.minecraft.client.renderer.entity.EntityRenderers register(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/client/renderer/entity/EntityRendererProvider;)V
public net.minecraft.client.renderer.RenderType create(Ljava/lang/String;Lcom/mojang/blaze3d/vertex/VertexFormat;Lcom/mojang/blaze3d/vertex/VertexFormat$Mode;IZZLnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType;
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.client.renderer.RenderStateShard$ShaderStateShard
public net.minecraft.client.renderer.GameRenderer shaders
public com.mojang.blaze3d.vertex.BufferBuilder beginElement(Lcom/mojang/blaze3d/vertex/VertexFormatElement;)J
public com.mojang.blaze3d.vertex.VertexFormatElement BY_ID

# RenderStateShard
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard
public net.minecraft.client.renderer.RenderStateShard NO_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard ADDITIVE_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard LIGHTING_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard GLINT_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard CRUMBLING_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard TRANSLUCENT_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard NO_SHADER
public net.minecraft.client.renderer.RenderStateShard POSITION_COLOR_LIGHTMAP_SHADER
public net.minecraft.client.renderer.RenderStateShard POSITION_SHADER
public net.minecraft.client.renderer.RenderStateShard POSITION_TEX_SHADER
public net.minecraft.client.renderer.RenderStateShard POSITION_COLOR_TEX_LIGHTMAP_SHADER
public net.minecraft.client.renderer.RenderStateShard POSITION_COLOR_SHADER
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_SOLID_SHADER
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_CUTOUT_MIPPED_SHADER
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_CUTOUT_SHADER
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_TRANSLUCENT_SHADER
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_TRANSLUCENT_MOVING_BLOCK_SHADER
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_ARMOR_CUTOUT_NO_CULL_SHADER
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_ENTITY_SOLID_SHADER
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_ENTITY_CUTOUT_SHADER
public net.minecraft.client.renderer.RenderStateShard LIGHTMAP
public net.minecraft.client.renderer.RenderStateShard NO_LIGHTMAP
public net.minecraft.client.renderer.RenderStateShard OVERLAY
public net.minecraft.client.renderer.RenderStateShard NO_OVERLAY
public net.minecraft.client.renderer.RenderStateShard CULL
public net.minecraft.client.renderer.RenderStateShard NO_CULL
public net.minecraft.client.renderer.RenderStateShard NO_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard EQUAL_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard LEQUAL_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard GREATER_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard COLOR_DEPTH_WRITE
public net.minecraft.client.renderer.RenderStateShard COLOR_WRITE
public net.minecraft.client.renderer.RenderStateShard DEPTH_WRITE
public net.minecraft.client.renderer.RenderStateShard NO_LAYERING
public net.minecraft.client.renderer.RenderStateShard MAIN_TARGET
public net.minecraft.client.renderer.RenderStateShard OUTLINE_TARGET
public net.minecraft.client.renderer.RenderStateShard TRANSLUCENT_TARGET